<section id="application" class="application wf-section">
    <div class="container-8 w-container">
    <h1 class="heading-43">Оставьте заявку и мы расскажем вам больше</h1>
    <div class="div-block-6">
        <div class="form-block-4 w-form">
        <form id="Application-Form" name="wf-form-Application-Form" data-name="Application-Form" method="post" class="form-3" action="api/create-client/">
            {% csrf_token %}
            <input type="text" class="input-2 inp w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e85-f6980be4 w-input" maxlength="256" name="name" data-name="name" placeholder="Ваше Имя" id="Name-4" required="">
            <input type="tel" class="input-2 inp w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e86-f6980be4 w-input" maxlength="256" name="phone" data-name="phone" placeholder="Ваш Телефон" id="Tel-2" required="">
            <input type="email" class="input-2 inp w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e87-f6980be4 w-input" maxlength="256" name="email" data-name="email" placeholder="email" id="Email-6" required="">
            <input type="text" class="input-2 hidden w-input" maxlength="10" name="site" data-name="site" value="{{ site_id }}" hidden style='display: none;'>
            <input type="text" class="input-2 inp hidden data-inp w-input hidden-inp" maxlength="256" name="complex" data-name="complex" placeholder="" required="" value="">
            <label id="w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e89-f6980be4" data-w-id="37e5102c-2b00-abb1-3c2c-656afb3c5e89" class="w-checkbox checkbox-field popcorn">
                <input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" class="w-checkbox-input checkbox">
                <span class="checkbox-label-2 w-form-label" for="checkbox-4">
                    Я согласен на обработку моих персональных данных
                </span>
            </label>
            <div id="w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e8d-f6980be4" class="div-block-46">
            <div class="policy-2 w-embed">
                <div>
                <h4 style="font-size: 12px;margin:9px 0;">Политика конфиденциальности</h4>
                <p style="font-size: 10px;margin:5px 0;line-height:10px">
                    Настоящим подтверждением я даю разрешение ООО «СТАТУС» любым иным третьим лицам (в том числе, но не ограничиваясь: страховым организациям; организациям-владельцам серверов; банковским и иным кредитным организациям; организациям, оказывающим услуги по совершению звонков, СМС-рассылок, любых другие виды рассылок и уведомлений; </p>
                <p style="font-size: 10px;margin:5px 0;line-height:10px">
                    организации, оказывающие услуги по проведению различных опросов и исследований и т.д. в целях информирования о
                    товары, работы, услуги) на обработку персональных данных и направление их по указанному мной адресу
                    адрес электронной почты и/или номер мобильного телефона для информации и рекламы о товарах, работах, услугах ООО
                    "Специализированный застройщик «СТАТУС» и его партнеры, используя любые средства связи.
                </p>
                <p style="font-size: 10px;margin:5px 0;line-height:10px">
                    Я согласен и разрешаю Specialized
                    застройщик «СТАТУС» и иные указанные им лица объединяют персональные данные в информационную систему
                    персональные данные и обрабатывать мои персональные данные с помощью автоматизации или без нее
                    использование средств автоматизации, а также с помощью других программных средств.
                </p>
                <p style="font-size: 10px;margin:5px 0;line-height:10px">
                    Я осознаю, что это согласие на обработку моих
                    персональных данных и получение рекламы является бессрочным, оно может быть отозвано мной в любое время путем
                    направление письменного уведомления по адресу: Москва Ленинградский проспект 35с2, Офис 483.
                    один
                </p>
                </div>
            </div><input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" data-wait="ОТПРАВЛЯЕМ..." id="w-node-_37e5102c-2b00-abb1-3c2c-656afb3c5e8f-f6980be4" class="button-5 applic-btn w-button">
            </div>
        </form>
        <div class="success-message-2 w-form-done">
            <div class="text-block-54">Спасибо! Ваша заявка принята!</div>
        </div>
        <div class="error-message-2 w-form-fail">
            <div>Ой! Что-то пошло не так при отправке формы.</div>
        </div>
        </div>
    </div>
    </div>
</section>