{% extends 'aproperty/base.html' %}
{% load static %}


{% block intro %}
<div id="intro" class="intro wf-section">
  <div class="container-6 w-container">
      <div class="w-layout-grid {% if slides_count > 0 %}grid-21{% else %}grid-211{% endif %}">
        <div id="w-node-_96a406a8-c738-4583-7e94-4545fcf1768f-e36ab9af" class="slider slid w-slider" data-delay="3500" data-animation="slide" data-autoplay="true" data-easing="ease-out-expo" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="100" data-nav-spacing="5" data-duration="500" data-infinite="true" fs-cmsslider-element="slider">
          <div class="mask w-slider-mask">

            {% for complex in main_complexses %}
            <div class="slide w-slide">
              <div class="collection-list-wrapper w-dyn-list">
                <div class="collection-list area-list w-dyn-items">
                  <div class="collection-item w-dyn-item">
                    <div class="content slide-content sslid">
                      <div class="w-layout-grid grid-22">
                        <div id="w-node-d80e014e-3ccc-4739-5b55-4d7982b526ef-e36ab9af" class="logo-head">
                          <a href="{{ complex.get_absolute_url }}" class="link-block w-inline-block">
                            <img src="{{ complex.get_logo }}" loading="eager" width="300" alt="" class="image-7">
                          </a>
                        </div>
                        <h1 id="w-node-_6deea422-3574-d9b2-bbb8-e7c4de7f8b20-e36ab9af" class="heading-5 h-text">{{ site.title_second | safe}}</h1>
                        <a href="#typeform" id="w-node-dd106468-57a0-6f8b-b791-ce0b87b64d46-e36ab9af" class="button h-text w-button">
                          {% if en %}About{% else %}О проекте{% endif %}
                        </a>
                      </div>
                      <div class="cover cover-2"></div>
                      <img src="{{ complex.title_image.url }}"  loading="lazy" alt="" class="slide-im">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

          <div class="left-arrow w-slider-arrow-left">
            <div class="arrow w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="arrow w-icon-slider-right"></div>
          </div>

          <div class="slide-nav w-slider-nav w-shadow"></div>

        </div>

        {% if slides_count > 0 %}
        <div id="w-node-f1ace0b2-5e64-4be1-9560-016399938a56-e36ab9af" class="conserj-2">
          <a href="concierge/" target="_blank" class="link-block-15 w-inline-block">
            <img src="{% static 'aproperty/images/concierge.jpeg' %}" loading="lazy" alt="" class="image-24">
            <div class="div-block-65">
              <div class="text-block-51">
                {% if en %}Your personal<br>concierge{% else %}Ваш личный<br>консьерж {% endif %}
              </div>
              <img src="{% static 'aproperty/images/status-concierge-new.png' %}" loading="lazy" srcset="{% static 'aproperty/images/status-concierge-new.png' %} 500w, {% static 'aproperty/images/status-concierge-new.png' %} 768w" sizes="100vw" alt="" class="image-35">
            </div>
          </a>
        </div>

        <div id="w-node-_14c2697a-21fa-f569-5235-e364a978b8e5-e36ab9af" class="ipoteka-3">
          <div class="div-block-61">
            <h3 class="heading-41">
              {% if en %}Start of sales{% else %}Старт продаж{% endif %}
            </h3>
            <a data-w-id="14c2697a-21fa-f569-5235-e364a978b8e9" href="#" class="button-5 h-text my-text w-inline-block">
              <div href="#" class="hidden-link">{{ complex.url }}</div>
              <div data-w-id="14c2697a-21fa-f569-5235-e364a978b8ea" class="text-block-49">
                {% if en %}Download presentation{% else %}Скачать презентацию{% endif %}
              </div>
            </a>
          </div>
          <img src="{{ title_image.url }}" loading="lazy" srcset="{{ title_image.url }} 800w" sizes="100vw" alt="" class="image-31">
        </div>

        <div id="w-node-_90e407d4-7650-94cd-6ed9-a0bed0c91406-e36ab9af" class="div-block-62">
          <div data-delay="4000" data-animation="slide" class="slider-6 w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="10" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">

              {% for slide in slides %}
              <div class="slide-5 w-slide">
                <div class="div-block-63">
                  <a href="{{ slide.link }}" target="_blank" class="link-block-14 w-inline-block">
                    <img src="{{ slide.logo.url }}" loading="lazy" srcset="{{ slide.logo.url }} 800w" sizes="80px" alt="" class="image-32"></a>
                </div>
                <img src="{{ slide.image.url }}" loading="lazy" srcset="{{ slide.image.url }} 800w"  sizes="100vw" alt="" class="image-33">
              </div>
              {% endfor %}
     
            </div>
            <div class="w-slider-arrow-left">
              <div class="icon-5 w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="icon-5 w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-6 w-slider-nav"></div>
          </div>
        </div>
        {% else %}
        <div id="w-node-f1ace0b2-5e64-4be1-9560-016399938a56-e36ab9af" class="conserj-3">
          <a href="concierge/" target="_blank" class="link-block-15 w-inline-block">
            <img src="{% static 'aproperty/images/concierge.jpeg' %}" loading="lazy" alt="" class="image-24">
            <div class="div-block-65">
              <div class="text-block-51">
                {% if en %}Your personal<br>concierge{% else %}Ваш личный<br>консьерж {% endif %}
              </div>
              <img src="{% static 'aproperty/images/status-concierge-new.png' %}" loading="lazy" srcset="{% static 'aproperty/images/status-concierge-new.png' %} 500w, {% static 'aproperty/images/status-concierge-new.png' %} 768w" sizes="100vw" alt="" class="image-35">
            </div>
          </a>
        </div>

        <div id="w-node-_14c2697a-21fa-f569-5235-e364a978b8e5-e36ab9af" class="ipoteka-4">
          <div class="div-block-61">
            <h3 class="heading-41">
              {% if en %}Start of sales{% else %}Старт продаж{% endif %}
            </h3>
            <a data-w-id="14c2697a-21fa-f569-5235-e364a978b8e9" href="#" class="button-5 h-text my-text w-inline-block">
              <div href="#" class="hidden-link">{{ complex.url }}</div>
              <div data-w-id="14c2697a-21fa-f569-5235-e364a978b8ea" class="text-block-49">
                {% if en %}Download presentation{% else %}Скачать презентацию{% endif %}
              </div>
            </a>
          </div>
          <img src="{{ title_image.url }}" loading="lazy" srcset="{{ title_image.url }} 800w" sizes="100vw" alt="" class="image-31">
        </div>
        {% endif %}

      </div>
  </div>
</div>
{% endblock %}

{% block complexses %}
<section data-w-id="983a5740-c762-b0ee-c2fc-3eb3c1b949ae" class="complexses wf-section">
  <div class="container-6 w-container">
    <div class="complex-head">
      <h1 class="heading-3">{% if en %}OUR RESIDENTIAL COMPLEXES{% else %}НАШИ КОМПЛЕКСЫ{% endif %}</h1>
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
        <div class="tabs-menu w-tab-menu">
          {% if resale %}
          <a data-w-tab="Tab 1" class="tab w-inline-block w-tab-link w--current">
            <div class="tab-content">
              <div class="moderntabs">{% if en %}Primary property{% else %}Новостройки{% endif %}</div>
            </div>
          </a>
          <a data-w-tab="Tab 2" class="tab w-inline-block w-tab-link">
            <div class="tab-content">
              <div class="moderntabsactive">{% if en %}Resale property{% else %}Вторичная{% endif %}</div>
            </div>
          </a>
          {% endif %}
        </div>
        <div class="w-tab-content">

          <div data-w-tab="Tab 1" class="complex-primary w-tab-pane w--tab-active">
            <div class="w-layout-grid grid-4">
              <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949c2-e36ab9af" class="w-form">
                <form id="email-form" class="form-6 w-clearfix">

                  <a id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949c4-e36ab9af" href="#" class="link reset">
                    {% if en %}Reset filters{% else %}Сбросить фильтры{% endif %}
                  </a>

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949c6-e36ab9af" class="_w-search">
                    <div class="div-block-67 w-clearfix">
                      <input type="text" class="_w-inp-search w-input search-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="{% if en %}Name of the complex{% else %}Название комплекса{% endif %}" id="field-2" required="">
                    </div>
                  </div>

                  {% if living_types %}
                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c2с949cb-e36ab9af">
                    <label class="label">{% if en %}Living type{% else %}Тип жилья{% endif %}</label>
                    <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949ce-e36ab9af" class="collection-list-wrapper-4 w-dyn-list">
                      <div class="collection-list-2 w-dyn-items">
                        
                        {% for living_type in living_types %}
                        <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949d0-e36ab9af" class="collection-item-5 w-dyn-item">
                          <label class="w-checkbox filter-items">
                            <div class="w-checkbox-input w-checkbox-input--inputType-custom filter-items-btn"></div>
                            <input class="living_types" type="checkbox" id="checkbox-32" name="checkbox-32" data-name="Checkbox 3" style="opacity:0;position:absolute;z-index:-1">
                            <span class="checkbox-label-2 w-form-label" for="checkbox-3">{{ living_type.name }}</span>
                          </label>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>
                  {% endif %}

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949cb-e36ab9af">
                    <label class="label">{% if en %}Areas{% else %}Районы{% endif %}</label>
                    <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949ce-e36ab9af" class="collection-list-wrapper-4 w-dyn-list">
                      <div class="collection-list-2 w-dyn-items">
                        
                        {% for area_name in areas %}
                        <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949d0-e36ab9af" class="collection-item-5 w-dyn-item">
                          <label class="w-checkbox filter-items">
                            <div class="w-checkbox-input w-checkbox-input--inputType-custom filter-items-btn"></div>
                            <input class="areas" type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" style="opacity:0;position:absolute;z-index:-1">
                            <span class="checkbox-label-2 w-form-label" for="checkbox-3">{{ area_name }}</span>
                          </label>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949d7-e36ab9af" class="div-block-43">
                    <div class="text-block-34">{% if en %}Found:{% else %}Колличество комплексов:{% endif %}</div>
                    <div class="text-block-33 visible-count">5</div>
                    <div class="text-block-33 dat">/</div>
                    <div class="text-block-33 items-count">34</div>
                  </div>

                </form>
              </div>
              <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949e6-e36ab9af" class="complex-base">
                <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b949e7-e36ab9af" class="w-dyn-list">
                  <div class="complex-collection collection-list-3 w-dyn-items">

                    <!-- here will be complexses-->

                  </div>
                  <div aria-label="List" class="w-pagination-wrapper show-more">
                    <a href="#" aria-label="Next Page" class="w-pagination-next next w-clearfix">
                      <div class="html-embed-10 w-embed">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100%" viewbox="0 0 96.000000 96.000000" preserveaspectratio="xMidYMid meet">
                          <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="currentcolor" stroke="none">
                            <path d="M370 884 c-308 -82 -412 -474 -186 -700 241 -240 651 -107 709 230 51 296 -230 548 -523 470z m208 -38 c73 -20 132 -57 185 -116 65 -72 91 -144 91 -250 0 -118 -27 -185 -108 -266 -81 -81 -148 -108 -266 -108 -118 0 -185 27 -266 108 -82 82 -108 148 -108 271 0 81 3 97 32 156 81 167 263 252 440 205z"></path>
                            <path d="M467 694 c-4 -4 -7 -49 -7 -100 l0 -93 -97 -3 c-79 -2 -98 -6 -98 -18 0 -12 19 -16 97 -18 l97 -3 3 -97 c2 -78 6 -97 18 -97 12 0 16 19 18 97 l3 97 97 3 c78 2 97 6 97 18 0 12 -19 16 -97 18 l-97 3 -3 96 c-3 89 -12 116 -31 97z"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="link-3 w-inline-block" style="display: inline-flex; flex-direction: column;--gap:5px;">
                        {% if en %}
                          <span>SHOW MORE</span>
                          <span>(<span class="compl-left">16</span> left)</span>
                        {% else %}
                          <span>ПОКАЗАТЬ ЕЩЁ</span>
                          <span>(осталось <span class="compl-left">16</span>)</span>
                        {% endif %}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% if resale %}
          <div data-w-tab="Tab 2" class="complex-resale w-tab-pane">
            <div class="w-layout-grid grid-4">
              <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a1a-e36ab9af" class="w-form">
                <form id="email-form32" class="form-6 f2 w-clearfix">

                  <a id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a1c-e36ab9af" href="#" class="link reset">
                    {% if en %}Reset filters{% else %}Сбросить фильтры{% endif %}
                  </a>

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a32-e36ab9af" class="div-block-43">
                    <div class="text-block-34">{% if en %}Found:{% else %}Колличество комплексов:{% endif %}</div>
                    <div class="text-block-33 visible-count">5</div>
                    <div class="text-block-33 dat">/</div>
                    <div class="text-block-33 items-count">34</div>
                  </div>

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a3b-e36ab9af" class="rangers">
                    <div class="rang-wrap">
                      <label class="label ll1">Цена за м<sup>2</sup></label>
                      <div class="div-block-25 d256">
                        <div fs-rangeslider-element="wrapper-2" fs-rangeslider-min="47368" fs-rangeslider-max="4000000" fs-rangeslider-step="50000" fs-rangeslider-start="4000000" class="fs-wrapper">
                          <div fs-rangeslider-element="track-2" class="fs-track">
                            <div fs-rangeslider-element="fill" class="fs-fill"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                          </div>
                          <input type="text" class="fs-input w-input">
                          <input type="text" class="fs-input w-input">
                          <div class="fs-range_values">
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                              <div>{% if en %}${% else %}₽{% endif %}</div>
                            </div>
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                              <div>{% if en %}${% else %}₽{% endif %}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rang-wrap">
                      <label class="label">Площадь квартиры</label>
                      <div class="div-block-25 d256">
                        <div fs-rangeslider-element="wrapper" fs-rangeslider-min="80" fs-rangeslider-max="1000" fs-rangeslider-step="10" fs-rangeslider-start="1000" class="fs-wrapper">
                          <div fs-rangeslider-element="track" class="fs-track">
                            <div fs-rangeslider-element="fill" class="fs-fill"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                          </div>
                          <input type="text" class="fs-input w-input">
                          <input type="text" class="fs-input w-input">
                          <div class="fs-range_values">
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                              <div>м<sup>2</sup></div>
                            </div>
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                              <div>м<sup>2</sup></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rang-wrap">
                      <label class="label">Количество комнат в квартире</label>
                      <div class="div-block-25 d256">
                        <div fs-rangeslider-element="wrapper-3" fs-rangeslider-min="1" fs-rangeslider-max="10" fs-rangeslider-step="1" fs-rangeslider-start="10" class="fs-wrapper">
                          <div fs-rangeslider-element="track-3" class="fs-track">
                            <div fs-rangeslider-element="fill" class="fs-fill"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                            <div fs-rangeslider-element="handle" class="fs-handle"></div>
                          </div>
                          <input type="text" class="fs-input w-input">
                          <input type="text" class="fs-input w-input">
                          <div class="fs-range_values">
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                            </div>
                            <div class="div-block-47">
                              <div fs-rangeslider-element="display-value" class="fs-value">0</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a21-e36ab9af" class="div-block-25 d-25">
                    <label class="label">Количество комнат в квартире</label>
                    <div class="div-block-1104">
                      <label class="filter-items radio bbtn w-radio decor">
                        <input type="radio" id="radio-7" name="radio" value="Radio" data-name="Radio 7" class="w-form-formradioinput filter-items-btn h-bbtn w-radio-input">
                        <span class="radio-button-label-2 w-form-label" for="radio-7">Без ремонта</span>
                      </label>
                      <label class="filter-items radio bbtn w-radio decor">
                        <input type="radio" id="radio-7" name="radio" value="Radio" data-name="Radio 7" class="w-form-formradioinput filter-items-btn h-bbtn w-radio-input">
                        <span class="radio-button-label-2 w-form-label" for="radio-7">Дизайнерский</span>
                      </label>
                      <label class="filter-items radio bbtn w-radio decor">
                        <input type="radio" id="radio-7" name="radio" value="Radio" data-name="Radio 7" class="w-form-formradioinput filter-items-btn h-bbtn w-radio-input">
                        <span class="radio-button-label-2 w-form-label" for="radio-7">Евроремонт</span>
                      </label>
                      <label class="filter-items radio bbtn w-radio decor">
                        <input type="radio" id="radio-7" name="radio" value="Radio" data-name="Radio 7" class="w-form-formradioinput filter-items-btn h-bbtn w-radio-input">
                        <span class="radio-button-label-2 w-form-label" for="radio-7">Косметический</span>
                      </label>
                    </div>
                  </div>

                  <div id="w-node-a0c33063-c8f7-f3d4-b9f8-9493b9578314-e36ab9af">
                    <label class="label">{% if en %}Areas{% else %}Районы{% endif %}</label>
                    <div id="w-node-a0c33063-c8f7-f3d4-b9f8-9493b9578317-e36ab9af" class="collection-list-wrapper-4 w-dyn-list">
                      <div  class="collection-list-2 w-dyn-items">
                        
                        {% for area_name in areas %}
                        <div id="w-node-a0c33063-c8f7-f3d4-b9f8-9493b9578319-e36ab9af" class="collection-item-5 w-dyn-item">
                          <label class="w-checkbox filter-items">
                            <div class="w-checkbox-input w-checkbox-input--inputType-custom filter-items-btn"></div>
                            <input class="areas" type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" style="opacity:0;position:absolute;z-index:-1">
                            <span class="checkbox-label-2 w-form-label" for="checkbox-3">{{ area_name }}</span>
                          </label>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>

                </form>
              </div>

              <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a85-e36ab9af" class="complex-base">
                <div id="w-node-_983a5740-c762-b0ee-c2fc-3eb3c1b94a86-e36ab9af" class="w-dyn-list">
                  <div class="complex-collection  collection-list-3 li2 w-dyn-items">

                    <!-- here will be complexses-->

                  </div>
                  <div aria-label="List" class="w-pagination-wrapper show-more">
                    <a href="#" aria-label="Next Page" class="w-pagination-next next w-clearfix">
                      <div class="html-embed-10 w-embed">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100%" viewbox="0 0 96.000000 96.000000" preserveaspectratio="xMidYMid meet">
                          <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="currentcolor" stroke="none">
                            <path d="M370 884 c-308 -82 -412 -474 -186 -700 241 -240 651 -107 709 230 51 296 -230 548 -523 470z m208 -38 c73 -20 132 -57 185 -116 65 -72 91 -144 91 -250 0 -118 -27 -185 -108 -266 -81 -81 -148 -108 -266 -108 -118 0 -185 27 -266 108 -82 82 -108 148 -108 271 0 81 3 97 32 156 81 167 263 252 440 205z"></path>
                            <path d="M467 694 c-4 -4 -7 -49 -7 -100 l0 -93 -97 -3 c-79 -2 -98 -6 -98 -18 0 -12 19 -16 97 -18 l97 -3 3 -97 c2 -78 6 -97 18 -97 12 0 16 19 18 97 l3 97 97 3 c78 2 97 6 97 18 0 12 -19 16 -97 18 l-97 3 -3 96 c-3 89 -12 116 -31 97z"></path>
                          </g>
                        </svg>
                      </div>
                      <div class="link-3 w-inline-block" style="display: inline-flex; flex-direction: column;--gap:5px;">
                        {% if en %}
                          <span>SHOW MORE</span>
                          <span>(<span class="compl-left">16</span> left)</span>
                        {% else %}
                          <span>ПОКАЗАТЬ ЕЩЁ</span>
                          <span>(осталось <span class="compl-left">16</span>)</span>
                        {% endif %}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
  