<section id="typeform" class="typeform wf-section">
    <div class="container-6 w-container">
        <div class="html-embed-3 w-embed w-script">
            <div id="ajaxContent" style="margin: 10px; padding: 10px;">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
                <div style="background-color: #ece5d2; height: 450px; overflow: hidden;">
                        
                        <div class="cwg-header ru">МЫ РАДЫ КЛИЕНТАМ ПО ВСЕМУ МИРУ</div>
                        <div class="cwg-header en">CLIENTS FROM ALL OVER THE WORLS</div>
                        
                        <section class="cwg-slider-wrapper">
                        <button class="cwg-slide-arrow" id="slide-arrow-prev">
                            ‹
                        </button>
                        <button class="cwg-slide-arrow" id="slide-arrow-next">
                            ›
                        </button>
                        <ul class="cwg-slides-container" id="slides-container">
                            <li class="cwg-slide">
                    
                            <div class="inside-content">
                                <div class="cwg-city en">Moscow</div>
                                <div class="cwg-city ru">Москва</div>
                                <div class="cwg-clock">
                                    <div class="cwg-wrap">
                                    <span class="cwg-hour" id="moscow-hour" style="transform: rotate(180deg);"></span>
                                    <span class="cwg-minute" id="moscow-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="moscow-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                    
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">Dubai</div>
                                <div class="cwg-city ru">Дубай</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="dubai-hour" style="transform: rotate(210deg);"></span>
                                    <span class="cwg-minute" id="dubai-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="dubai-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                    
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">Delhi</div>
                                <div class="cwg-city ru">Дели</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="delhi-hour" style="transform: rotate(270deg);"></span>
                                    <span class="cwg-minute" id="delhi-minute" style="transform: rotate(156deg);"></span>
                                    <span class="cwg-second" id="delhi-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                    
                            </li>
                    
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">Dubai</div>
                                <div class="cwg-city ru">Дубай</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="dubai-hour-sm" style="transform: rotate(210deg);"></span>
                                    <span class="cwg-minute" id="dubai-minute-sm" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="dubai-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                            </li>
                    
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">Delhi</div>
                                <div class="cwg-city ru">Дели</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="delhi-hour-sm" style="transform: rotate(270deg);"></span>
                                    <span class="cwg-minute" id="delhi-minute-sm" style="transform: rotate(156deg);"></span>
                                    <span class="cwg-second" id="delhi-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div></li>
                    
                            <li class="cwg-slide">
                            <div class="inside-content">
                                <div class="cwg-city en">Tehran</div>
                                <div class="cwg-city ru">Тегеран</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="teheran-hour" style="transform: rotate(240deg);"></span>
                                    <span class="cwg-minute" id="teheran-minute" style="transform: rotate(156deg);"></span>
                                    <span class="cwg-second" id="teheran-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">Riyadh</div>
                                <div class="cwg-city ru">Эр-рияд</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="er-riad-hour" style="transform: rotate(180deg);"></span>
                                    <span class="cwg-minute" id="er-riad-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="er-riad-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                                
                            </div>
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">Ankara</div>
                                <div class="cwg-city ru">Анкара</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="ankara-hour" style="transform: rotate(180deg);"></span>
                                    <span class="cwg-minute" id="ankara-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="ankara-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                                
                            </div>
                            </li>
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">Riyadh</div>
                                <div class="cwg-city ru">Рияд</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="er-riad-hour-sm" style="transform: rotate(180deg);"></span>
                                    <span class="cwg-minute" id="er-riad-minute-sm" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="er-riad-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                                
                            </div>
                            </li>
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">Ankara</div>
                                <div class="cwg-city ru">Анкара</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="ankara-hour-sm" style="transform: rotate(180deg);"></span>
                                    <span class="cwg-minute" id="ankara-minute-sm" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="ankara-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                                
                            </div>
                            </li>
                            <li class="cwg-slide">
                            <div class="inside-content">
                                <div class="cwg-city en">Baku</div>
                                <div class="cwg-city ru">Баку</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="baku-hour" style="transform: rotate(210deg);"></span>
                                    <span class="cwg-minute" id="baku-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="baku-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            
                            </div>
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">Bejing</div>
                                <div class="cwg-city ru">Пекин</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="bejing-hour" style="transform: rotate(330deg);"></span>
                                    <span class="cwg-minute" id="bejing-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="bejing-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            
                            </div>
                            <div class="inside-content desktop-only">
                                <div class="cwg-city en">London</div>
                                <div class="cwg-city ru">Лондон</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="london-hour" style="transform: rotate(90deg);"></span>
                                    <span class="cwg-minute" id="london-minute" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="london-second" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            
                            </div>
                            </li>
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">Bejing</div>
                                <div class="cwg-city ru">Пекин</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="bejing-hour-sm" style="transform: rotate(330deg);"></span>
                                    <span class="cwg-minute" id="bejing-minute-sm" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="bejing-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            
                            </div>
                            </li>
                            <li class="cwg-slide mobile-only">
                            <div class="inside-content">
                                <div class="cwg-city en">London</div>
                                <div class="cwg-city ru">Лондон</div>
                                <div class="cwg-clock">
                                <div class="cwg-wrap">
                                    <span class="cwg-hour" id="london-hour-sm" style="transform: rotate(90deg);"></span>
                                    <span class="cwg-minute" id="london-minute-sm" style="transform: rotate(336deg);"></span>
                                    <span class="cwg-second" id="london-second-sm" style="transform: rotate(318deg);"></span>
                                    <span class="cwg-dot"></span>
                                </div>
                                </div>
                            </div>
                            </li>
                        </ul>
                        </section>
                    </div>
                </div>
            </div>
    </div>
</section>