<section id="typeform" class="typeform wf-section">
    <div class="container-8 w-container">
    <div class="typeform-contain-2">
        <div class="html-embed-17 w-embed w-script">
        <div id="ajaxContent"></div>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div style="background-color: #ece5d2; height: 450px; overflow: hidden;">
            
            <div class="cwg-header ru">МЫ РАДЫ КЛИЕНТАМ ПО ВСЕМУ МИРУ</div>
            <div class="cwg-header en">CLIENTS FROM ALL OVER THE WORLS</div>
            
            <section class="cwg-slider-wrapper">
            <button class="cwg-slide-arrow" id="slide-arrow-prev">
                &#8249;
            </button>
            <button class="cwg-slide-arrow" id="slide-arrow-next">
                &#8250;
            </button>
            <ul class="cwg-slides-container" id="slides-container">
                <li class="cwg-slide">

                <div class="inside-content">
                    <div class="cwg-city en">Moscow</div>
                    <div class="cwg-city ru">Москва</div>
                    <div class="cwg-clock">
                        <div class="cwg-wrap">
                        <span class="cwg-hour" id="moscow-hour"></span>
                        <span class="cwg-minute" id="moscow-minute"></span>
                        <span class="cwg-second" id="moscow-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>

                <div class="inside-content desktop-only">
                    <div class="cwg-city en">Dubai</div>
                    <div class="cwg-city ru">Дубай</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="dubai-hour"></span>
                        <span class="cwg-minute" id="dubai-minute"></span>
                        <span class="cwg-second" id="dubai-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>

                <div class="inside-content desktop-only">
                    <div class="cwg-city en">Delhi</div>
                    <div class="cwg-city ru">Дели</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="delhi-hour"></span>
                        <span class="cwg-minute" id="delhi-minute"></span>
                        <span class="cwg-second" id="delhi-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>

                </li>

                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">Dubai</div>
                    <div class="cwg-city ru">Дубай</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="dubai-hour-sm"></span>
                        <span class="cwg-minute" id="dubai-minute-sm"></span>
                        <span class="cwg-second" id="dubai-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>
                </li>

                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">Delhi</div>
                    <div class="cwg-city ru">Дели</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="delhi-hour-sm"></span>
                        <span class="cwg-minute" id="delhi-minute-sm"></span>
                        <span class="cwg-second" id="delhi-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </li>

                <li class="cwg-slide">
                <div class="inside-content">
                    <div class="cwg-city en">Tehran</div>
                    <div class="cwg-city ru">Тегеран</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="teheran-hour"></span>
                        <span class="cwg-minute" id="teheran-minute"></span>
                        <span class="cwg-second" id="teheran-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>
                <div class="inside-content desktop-only">
                    <div class="cwg-city en">Riyadh</div>
                    <div class="cwg-city ru">Эр-рияд</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="er-riad-hour"></span>
                        <span class="cwg-minute" id="er-riad-minute"></span>
                        <span class="cwg-second" id="er-riad-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                    
                </div>
                <div class="inside-content desktop-only">
                    <div class="cwg-city en">Ankara</div>
                    <div class="cwg-city ru">Анкара</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="ankara-hour"></span>
                        <span class="cwg-minute" id="ankara-minute"></span>
                        <span class="cwg-second" id="ankara-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                    
                </div>
                </li>
                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">Riyadh</div>
                    <div class="cwg-city ru">Рияд</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="er-riad-hour-sm"></span>
                        <span class="cwg-minute" id="er-riad-minute-sm"></span>
                        <span class="cwg-second" id="er-riad-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                    
                </div>
                </li>
                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">Ankara</div>
                    <div class="cwg-city ru">Анкара</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="ankara-hour-sm"></span>
                        <span class="cwg-minute" id="ankara-minute-sm"></span>
                        <span class="cwg-second" id="ankara-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                    
                </div>
                </li>
                <li class="cwg-slide">
                <div class="inside-content">
                    <div class="cwg-city en">Baku</div>
                    <div class="cwg-city ru">Баку</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="baku-hour"></span>
                        <span class="cwg-minute" id="baku-minute"></span>
                        <span class="cwg-second" id="baku-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                
                </div>
                <div class="inside-content desktop-only">
                    <div class="cwg-city en">Bejing</div>
                    <div class="cwg-city ru">Пекин</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="bejing-hour"></span>
                        <span class="cwg-minute" id="bejing-minute"></span>
                        <span class="cwg-second" id="bejing-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                
                </div>
                <div class="inside-content desktop-only">
                    <div class="cwg-city en">London</div>
                    <div class="cwg-city ru">Лондон</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="london-hour"></span>
                        <span class="cwg-minute" id="london-minute"></span>
                        <span class="cwg-second" id="london-second"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                
                </div>
                </li>
                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">Bejing</div>
                    <div class="cwg-city ru">Пекин</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="bejing-hour-sm"></span>
                        <span class="cwg-minute" id="bejing-minute-sm"></span>
                        <span class="cwg-second" id="bejing-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                
                </div>
                </li>
                <li class="cwg-slide mobile-only">
                <div class="inside-content">
                    <div class="cwg-city en">London</div>
                    <div class="cwg-city ru">Лондон</div>
                    <div class="cwg-clock">
                    <div class="cwg-wrap">
                        <span class="cwg-hour" id="london-hour-sm"></span>
                        <span class="cwg-minute" id="london-minute-sm"></span>
                        <span class="cwg-second" id="london-second-sm"></span>
                        <span class="cwg-dot"></span>
                    </div>
                    </div>
                </div>
                </li>
            </ul>
            </section>
        </div>

        </div>
    </div>
    </div>
</section>