<section id="typeform" class="typeform wf-section">
    <div class="container-6 w-container">
        {% if en %}
        <div class="cwg-header">CLIENTS FROM ALL OVER THE WORLS</div>     
        {% else %}
            <div class="cwg-header">МЫ РАДЫ КЛИЕНТАМ ПО ВСЕМУ МИРУ</div>
        {% endif %}
      <div data-delay="4000" data-animation="slide" class="slider-7 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask-5 w-slider-mask">
          
            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Moscow</div>{% else %}<div class="cwg-city">Москва</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="moscow-hour"></span>
                            <span class="cwg-minute" id="moscow-minute"></span>
                            <span class="cwg-second" id="moscow-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Moscow</div>{% else %}<div class="cwg-city">Москва</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="moscow-hour"></span>
                            <span class="cwg-minute" id="moscow-minute"></span>
                            <span class="cwg-second" id="moscow-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">London</div>{% else %}<div class="cwg-city">Лондон</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="london-hour"></span>
                            <span class="cwg-minute" id="london-minute"></span>
                            <span class="cwg-second" id="london-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">London</div>{% else %}<div class="cwg-city">Лондон</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="london-hour"></span>
                            <span class="cwg-minute" id="london-minute"></span>
                            <span class="cwg-second" id="london-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Dubai</div>{% else %}<div class="cwg-city">Дубай</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="dubai-hour"></span>
                            <span class="cwg-minute" id="dubai-minute"></span>
                            <span class="cwg-second" id="dubai-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Dubai</div>{% else %}<div class="cwg-city">Дубай</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="dubai-hour"></span>
                            <span class="cwg-minute" id="dubai-minute"></span>
                            <span class="cwg-second" id="dubai-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Delhi</div>{% else %}<div class="cwg-city">Дели</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="delhi-hour"></span>
                            <span class="cwg-minute" id="delhi-minute"></span>
                            <span class="cwg-second" id="delhi-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Delhi</div>{% else %}<div class="cwg-city">Дели</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="delhi-hour"></span>
                            <span class="cwg-minute" id="delhi-minute"></span>
                            <span class="cwg-second" id="delhi-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Аnkara</div>{% else %}<div class="cwg-city">Анкара</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="ankara-hour"></span>
                            <span class="cwg-minute" id="ankara-minute"></span>
                            <span class="cwg-second" id="ankara-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Аnkara</div>{% else %}<div class="cwg-city">Анкара</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="ankara-hour"></span>
                            <span class="cwg-minute" id="ankara-minute"></span>
                            <span class="cwg-second" id="ankara-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Teheran</div>{% else %}<div class="cwg-city">Тегеран</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="teheran-hour"></span>
                            <span class="cwg-minute" id="teheran-minute"></span>
                            <span class="cwg-second" id="teheran-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Teheran</div>{% else %}<div class="cwg-city">Тегеран</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="teheran-hour"></span>
                            <span class="cwg-minute" id="teheran-minute"></span>
                            <span class="cwg-second" id="teheran-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

            <div class="clock-slide w-slide">
                <div class="clock-wrapper">
                <div class="w-embed">

                    <div class="inside-content mobile-only">
                        {% if en %} <div class="cwg-city">Baku</div>{% else %}<div class="cwg-city">Баку</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="baku-hour"></span>
                            <span class="cwg-minute" id="baku-minute"></span>
                            <span class="cwg-second" id="baku-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inside-content desktop-only">
                        {% if en %} <div class="cwg-city">Baku</div>{% else %}<div class="cwg-city">Баку</div>{% endif %}
                        <div class="cwg-clock">
                            <div class="cwg-wrap">
                            <span class="cwg-hour" id="baku-hour"></span>
                            <span class="cwg-minute" id="baku-minute"></span>
                            <span class="cwg-second" id="baku-second"></span>
                            <span class="cwg-dot"></span>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>

        </div>
        <div class="w-slider-arrow-left">
          <div class="icon-6 w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="icon-7 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-7 w-slider-nav w-round"></div>
      </div>
    </div>
  </section>