{% if en %}
<div class="policy w-embed">
    <div>
        <h4 style="font-size: 12px;margin:9px 0;">Privacy Policy</h4>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
            By this confirmation, I give permission to STATUS LLC to any other third parties (including, but not limited to:
            insurance organizations; organizations owning servers; banking and other credit organizations; organizations providing services for making calls, 
            SMS mailings, any other types of mailing lists and notifications;
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
            organizations providing services for conducting various surveys and research, etc. to inform about
            goods, works, services) for the processing of personal data and sending them to the address indicated by me
            e-mail address and / or mobile phone number for information and advertising about goods, works, services of LLC
            Specialized developer "STATUS" and its partners, using any means of communication.
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
            I agree and authorize Specialized
            the developer "STATUS" and other persons specified by him combine personal data into an information system
            personal data and process my personal data with or without automation
            use of automation tools, as well as with the help of other software tools.
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
            I understand that this is consent to the processing of my
            personal data and the receipt of advertising is perpetual, it can be revoked by me at any time by
            sending a written notice to the address: Moscow, Leningradsky Prospekt 35s2, Office 483.
            one
        </p>
    </div>
</div>
{% else %}
<div class="policy w-embed">
    <div>
        <h4 style="font-size: 12px;margin:9px 0;">Политика конфиденциальности</h4>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
          Настоящим подтверждением я даю разрешение ООО «СТАТУС» любым иным третьим лицам (в том числе, но не ограничиваясь: 
          страховым организациям; организациям-владельцам серверов; банковским и иным кредитным организациям; организациям, 
          оказывающим услуги по совершению звонков, СМС-рассылок, любых другие виды рассылок и уведомлений; 
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
          организации, оказывающие услуги по проведению различных опросов и исследований и т.д. в целях информирования о
          товары, работы, услуги) на обработку персональных данных и направление их по указанному мной адресу
          адрес электронной почты и/или номер мобильного телефона для информации и рекламы о товарах, работах, услугах ООО
          "Специализированный застройщик "СТАТУС" и его партнеры, используя любые средства связи.
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
          Я согласен и разрешаю Specialized
          застройщик «СТАТУС» и иные указанные им лица объединяют персональные данные в информационную систему
          персональные данные и обрабатывать мои персональные данные с помощью автоматизации или без нее
          использование средств автоматизации, а также с помощью других программных средств.
        </p>
        <p style="font-size: 10px;margin:5px 0;line-height:10px">
          Я осознаю, что это согласие на обработку моих
          персональных данных и получение рекламы является бессрочным, оно может быть отозвано мной в любое время путем
          направление письменного уведомления по адресу: Москва Ленинградский проспект 35с2, Офис 483.
          один
        </p>
    </div>
</div>
{% endif %}