{% extends 'aproperty/ru/index-base.html' %}
{% load static %}


{% block intro %}
<div id="intro" class="intro wf-section">
    <div class="container-6 w-container">
      {% if slides_count > 0 %}
      <div class="w-layout-grid grid-21">
      {% else %}
      <div class="w-layout-grid grid-211">
      {% endif %}

        <div data-delay="3500" data-animation="slide" class="slider slid w-slider" data-autoplay="true" data-easing="ease-out-expo" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="100" data-nav-spacing="10" data-duration="500" data-infinite="true" id="w-node-_96a406a8-c738-4583-7e94-4545fcf1768f-16e3a100">
          <div class="mask w-slider-mask">
            
            {% for complex in main_complexses %}
            <div class="slide w-slide">
              <div class="content slide-content sslid">
                <div class="w-layout-grid grid-22">
                  <div id="w-node-d80e014e-3ccc-4739-5b55-4d7982b526ef-16e3a100" class="logo-head">
                    <a href="#" class="link-block w-inline-block"><img src="{{ complex.get_logo }}" loading="eager" width="300" alt="" class="image-7"></a>
                  </div>
                  <h1 id="w-node-_6deea422-3574-d9b2-bbb8-e7c4de7f8b20-16e3a100" class="heading-5 h-text">{{ site.title_second }}</h1>
                  <a href="#typeform" id="w-node-dd106468-57a0-6f8b-b791-ce0b87b64d46-16e3a100" class="button h-text w-button">О проекте</a>
                </div>
                <div class="cover cover-2"></div>
                <img src="{{ complex.title_image.url }}" loading="lazy" alt="" class="slide-im">
              </div>
            </div>
            {% endfor %}
            
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="arrow w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="arrow w-icon-slider-right"></div>
          </div>
          <div class="slide-nav w-slider-nav w-shadow"></div>
        </div>

        {% if slides_count > 0 %}
        <div id="w-node-f1ace0b2-5e64-4be1-9560-016399938a56-16e3a100" class="conserj-2">
          <a href="concierge/" target="_blank" class="link-block-15 w-inline-block">
            <img src="{% static 'aproperty/images/concierge.jpeg' %}" loading="lazy" alt="" class="image-24">
            <div class="div-block-65">
              <div class="text-block-56"> Ваш личный <br>консьерж </div>
              <img src="{% static 'aproperty/images/status-concierge-new.png' %}" loading="lazy" srcset="{% static 'aproperty/images/status-concierge-new-p-500.png' %} 500w, {% static 'aproperty/images/status-concierge-new.png' %} 768w" sizes="100vw" alt="" class="image-38">
            </div>
          </a>
        </div>

        <div id="w-node-_14c2697a-21fa-f569-5235-e364a978b8e5-16e3a100" class="ipoteka-3">
          <img src="{{ title_image.url }}" loading="lazy" srcset="{{ title_image.url }} 800w" sizes="100vw" alt="" class="image-31">
          <div class="div-block-61">
            <h3 class="heading-44">Старт продаж</h3>
            <a data-w-id="69b7f05f-c41f-6ac7-d8e6-9f02e095d46c" href="#" class="button-5 h-text my-text w-inline-block">
              <div href="#" class="hidden-link">{{ complex.url }}</div>
              <div data-w-id="69b7f05f-c41f-6ac7-d8e6-9f02e095d46d" class="text-block-55 dw-btn">Скачать презентацию</div>
            </a>
          </div>
        </div>

        <div id="w-node-_90e407d4-7650-94cd-6ed9-a0bed0c91406-16e3a100" class="div-block-62">
          <div data-delay="4000" data-animation="slide" class="slider-6 w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="10" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">

              {% for slide in slides %}
              <div class="w-slide">
                <div class="div-block-63">
                  <a href="{{ slide.link }}" target="_blank" class="link-block-14 w-inline-block">
                    <img src="{{ slide.logo.url }}" loading="lazy" srcset="{{ slide.logo.url }} 800w" sizes="70px" alt="" class="image-32"></a>
                </div>
                <img src="{{ slide.image.url }}" loading="lazy" srcset="{{ slide.image.url }} 800w" sizes="100vw" alt="" class="image-33">
              </div>
              {% endfor %}

            </div>
            <div class="w-slider-arrow-left">
              <div class="icon-4 w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="icon-5 w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-6 w-slider-nav"></div>
          </div>
        </div>
        {% else %}
        <div id="w-node-f1ace0b2-5e64-4be1-9560-016399938a56-bd3dbca6" class="conserj-3">
          <a href="concierge/" target="_blank" class="link-block-15 w-inline-block">
            <img src="{% static 'aproperty/images/concierge.jpeg' %}" loading="lazy" alt="" class="image-24">
            <div class="div-block-65">
              <div class="text-block-51">Ваш личный <br>консьерж </div>
              <img src="{% static 'aproperty/images/status-concierge-new.png' %}" loading="lazy" srcset="{% static 'aproperty/images/status-concierge-new-p-500.png' %} 500w, {% static 'aproperty/images/status-concierge-new.png' %} 768w" sizes="100vw" alt="" class="image-377">
            </div>
          </a>
        </div>

        <div id="w-node-_14c2697a-21fa-f569-5235-e364a978b8e5-bd3dbca6" class="ipoteka-4">
          <div class="div-block-61">
            <h3 class="heading-41">Старт продаж</h3>
            <a href="#" class="hidden-link">{{ complex.url }}</a>
            <a data-w-id="1077ec7a-e428-98cc-4bfb-0aeca0701391" href="#" class="button-5 h-text my-text w-inline-block">
              <div data-w-id="1077ec7a-e428-98cc-4bfb-0aeca0701392" class="text-block-53 dw-btn">Скачать презентациюn</div>
            </a>
          </div>
          <img src="{{ title_image.url }}" loading="lazy" srcset="{{ title_image.url }} 800w" sizes="100vw" alt="" class="image-31">
        </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}


{% block complexses %}
<section data-w-id="983a5740-c762-b0ee-c2fc-3eb3c1b949ae" class="complexses wf-section">
    <div class="container-8 w-container">
      <div class="complex-head">
        <h1 class="heading-42">НАШИ КОМПЛЕКСЫ</h1>
        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
              <div class="w-layout-grid grid-4">
                <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce7321d-16e3a100" class="w-form">
                <form id="filter-form" name="filter-form" data-name="filter Form" method="get" class="form-9 w-clearfix">
                  <a href="#" class="link-5 reset" id="reset"> Сбросить фильтры</a>
                  <div class="_w-search">
                    <div class="div-block-51 w-clearfix">
                      <input type="text" class="_w-inp-search-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Название комплекса" id="search-input" required="">
                    </div>
                  </div>
                  <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce73224-16e3a100">
                    <label class="label-2">Районы</label>
                    <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce73227-16e3a100" class="collection-list-wrapper-5 w-dyn-list">
                      <div class="collection-list-6">
                        
                        {% for area_name in areas %}
                        <div class="collection-item-6">
                          <label class="w-checkbox filter-items-2 areas">
                            <div class="w-checkbox-input w-checkbox-input--inputType-custom filter-items-btn-2"></div>
                            <input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="checkbox-3" class="area-checkbox" style="opacity:0;position:absolute;z-index:-1">
                            <span class="checkbox-label-3 w-form-label" for="checkbox-3">{{ area_name }}</span>
                          </label>
                        </div>
                        {% endfor %}
                        
                      </div>
                    </div>
                  </div>
                    <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce7322d-16e3a100" class="div-block-43">
                      <div class="text-block-53">Количество комплексов:</div>
                      <div id="visible-count" class="text-block-52">4</div>
                      <div class="text-block-52 dat">/</div>
                      <div id="items-count" class="text-block-52">{{ count }}</div>
                    </div>
                </form>
                </div>
                <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce7323c-16e3a100" class="complex-base">
                  <div id="w-node-_60305fa7-b517-e70e-4ae1-037cdce7323d-16e3a100">
                    <div class="collection-list-7" id="complex-collection">

                      <!-- here will be complexses-->
                      
                    </div>
                    <div class="w-pagination-wrapper">
                      <a href="#" aria-label="Next Page" class="w-pagination-next next-2 w-clearfix" id="show-more">
                        <div class="html-embed-1018 w-embed">
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100%" viewbox="0 0 96.000000 96.000000" preserveaspectratio="xMidYMid meet">
                            <g transform="translate(0.000000,96.000000) scale(0.100000,-0.100000)" fill="currentcolor" stroke="none">
                              <path d="M370 884 c-308 -82 -412 -474 -186 -700 241 -240 651 -107 709 230 51 296 -230 548 -523 470z m208 -38 c73 -20 132 -57 185 -116 65 -72 91 -144 91 -250 0 -118 -27 -185 -108 -266 -81 -81 -148 -108 -266 -108 -118 0 -185 27 -266 108 -82 82 -108 148 -108 271 0 81 3 97 32 156 81 167 263 252 440 205z"></path>
                              <path d="M467 694 c-4 -4 -7 -49 -7 -100 l0 -93 -97 -3 c-79 -2 -98 -6 -98 -18 0 -12 19 -16 97 -18 l97 -3 3 -97 c2 -78 6 -97 18 -97 12 0 16 19 18 97 l3 97 97 3 c78 2 97 6 97 18 0 12 -19 16 -97 18 l-97 3 -3 96 c-3 89 -12 116 -31 97z"></path>
                            </g>
                          </svg>
                        </div>
                        <div class="link-7 w-inline-block" style="display: inline-flex; flex-direction: column;--gap:5px;">
                          <span>ПОКАЗАТЬ ЕЩЁ</span>
                          <span>(осталось <span id="compl-left">16</span>)</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}